@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.main-header{
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #402E7A;
    color: white;
    font-family: var(--primary-font);
    width: 100%;

}
@media  screen and (max-width : 600px) {
    .main-header{
        display: flex;
        flex-wrap: wrap;
    }
    .navbar{
        margin-top: 3px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    
}
.header-title{
    border: 2px solid gray;
    padding: 5px;
}
.header-menu{
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.navbar{
    list-style-type: none;
    border: 2px solid gray;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}



