/* .admin-dashboard{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3em;
    padding: 5px;
    
}
.side-div{

    box-sizing: border-box;
    max-width: 30%;
    padding: 20px;
    position: sticky;
}
.main-div{
    
    box-sizing: border-box;
    max-width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
} */
