
.signup-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    font-family: var(--primary-font);
}

.signup-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}


.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #007BFF;
    outline: none;
}


.form-group div {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}


.form-actions {
    margin-top: 20px;
}

.form-actions button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-actions button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.form-actions button:hover:not(:disabled) {
    background-color: #0056b3;
}


.links {
    margin-top: 20px;
}

.links p {
    font-size: 14px;
    color: #333;
}

.links a {
    color: #007BFF;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
